<!DOCTYPE html>
<html ng-app="recipe" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>recIP</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!--ANGULAR-->
    <script type="text/javaScript" src="/node_modules/angular/angular.js"></script>
    <Script type="text/javaScript" src="app.js"></Script>

    <div ng-controller="UserController as user">
    <!--THE NAVBAR-->
    <nav style="background-color:#cb2e01; border-radius: 0px;" class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a style="font-size: 3em; color: #ffd171"class="navbar-brand" href="#"><strong>rec.IP</strong></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li ng-hide='user.product.isLoggedIn'><a style="color: #ffd171"href=""><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li ng-hide='user.product.isLoggedIn'><a style="color: #ffd171"href=""><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li ng-show='user.product.isLoggedIn'><a style="color: #ffd171"href=""><span> {{user.product.name | uppercase}}</span></a></li>
        </ul>
      </div>
    </nav>

    </div><!--user controller-->

    
    <div ng-controller="RecipeController as recipe">
    <div class="container">
      <!--RECIPE PAGE-->
      <div ng-repeat="product in recipe.product | orderBy:'-yums'">
      <div style="background-color:#9b350d; border-color: #9b350d" class="well">
        <div class="row">
        <!--COLLAPSE BUTTON-->
        <div class="col-xs-1" ng-controller="CollapseController as collapseCtrl">
          <button href="#{{product.name}}" ng-click='collapseCtrl.collapse()' class="btn btn-info" data-toggle="collapse" ng-init="collapseCtrl.collapseBtn = 'glyphicon glyphicon-chevron-down'">
            <i style="font-size:2.5em; color:#ffd171" class='{{collapseCtrl.collapseBtn}}'></i>
          </button>
        </div>
        <!--TITLE and DESCRIPTION-->
        <div class="text-center col-xs-10">
          <h1 style="color:#ffd171"><strong>{{product.name | uppercase}}</strong></h1>
          <h4 style="color:#ffd171">{{product.description}}</h4>
        </div>

        <!--YUM AND YUCK BUTTONS-->

        <div class="col-xs-1" ng-controller='YumController as yumCtrl'>
          <button class='btn btn-warning pull-right' ng-click='yumCtrl.yum(product)' ng-init="yumCtrl.yumButton='yum';">
            {{yumCtrl.yumButton}}
          </button>

          <h3 class="" style="color:#ffd171">{{product.score}}</h3>
          <button class='btn btn-warning pull-right' ng-click='yumCtrl.yuck(product)' ng-init="yumCtrl.yuckButton='yuck';">
            {{yumCtrl.yuckButton}}
          </button>
        </div>
        </div>

        <!--COLLAPSE-->
        <div id="{{product.name}}" class="collapse">
          <recipe-photo></recipe-photo class='row'>

          <!--TABS-->
          <section class="tab" ng-controller="TabController as tab">
            <ul style='display:inline-block; background-color: #cb2e01; color: #ffd171' class="nav nav-pills">
              <li ng-class="{ active: tab.isSet(1) }">
                <a href ng-click="tab.setTab(1)">Ingredients</a></li>
              <li ng-class="{ active: tab.isSet(2) }">
                <a href ng-click="tab.setTab(2)">Directions</a></li>
              <li ng-class="{ active: tab.isSet(3) }">
                <a href ng-click="tab.setTab(3)">Reviews</a></li>
            </ul>

            <!--INGREDIENT TAB-->
            <div ng-show="tab.isSet(1)">

              <!--INGREDIENT-->
              <div ng-repeat="ingredient in product.ingredients">
              <div style ='background-color:#ffd171; border-color: #ffd171; color:#9b350d' class="well-sm row text-center">
                <div class="col-xs-2 col-xs-offset-1">
                  <h3>{{ingredient.quantity}}</h3>
                </div>
                <div class="col-xs-2">
                  <h3>{{ingredient.unit}}</h3>
                </div>
                <div class="col-xs-6">
                  <h3>{{ingredient.item}}</h3>
                </div>
              </div>
              </div><!--ng-repeat end-->

              <!--INGREDIENT FORM>
              <ingredient-form>
              </ingredient-form-->

            </div>

            <!--DIRECTIONS TAB-->
            <div ng-show="tab.isSet(2)">

              <!--STEPS-->
              <div ng-repeat="step in product.steps">
                <div style ='background-color:#ffd171; border-color: #ffd171; color:#9b350d' class="well-sm row text-center">
                    <h3>{{step}}</h3>
                </div>
              </div><!--ng-repeat end-->

              <!--STEP FORM>
              <form ng-submit='stepCtrl.addStep(product)' ng-controller='StepController as stepCtrl' name='stepForm'>
                <!--  Live Preview >
                <div style ='background-color:#cb2e01; border-color: #cb2e01; color:#ffd171;' class="well-sm row text-center">
                  <h3>{{stepCtrl.step}}</h3>
                </div>
                <div style ='background-color:#ffd171; border-color: #ffd171; color:#9b350d' class="well-sm row text-center">
                  <textarea ng-model='stepCtrl.step'></textarea>
                </div>
                <!--ADD STEP>
                <div class="row text-center">
                  <button style='background-color:#cb2e01' type="submit" class="btn">
                    <i style="font-size:3.5em; color:#ffd171" class='glyphicon glyphicon-plus'></i>
                  </button>
                </div>
              </form-->

            </div>

            <!--REVIEW TAB-->
            <div ng-show="tab.isSet(3)">
              <!--REVIEWS-->
              <div ng-repeat="review in product.reviews">
                <div style ='background-color:#ffd171; border-color: #ffd171; color:#9b350d' class="well-sm row text-center">
                    <h3>{{review}}</h3>
                </div>
              </div><!--ng-repeat end-->

              <!--REVIEW FORM-->
              <form ng-submit='reviewCtrl.addReview(product)' ng-controller='ReviewController as reviewCtrl' name='reviewForm'>
                <!--  Live Preview -->
                <div style ='background-color:#cb2e01; border-color: #cb2e01; color:#ffd171;' class="well-sm row text-center">
                  <h3>{{reviewCtrl.review}}</h3>
                </div>
                <div style ='background-color:#ffd171; border-color: #ffd171; color:#9b350d' class="well-sm row text-center">
                  <textarea ng-model='reviewCtrl.review'></textarea>
                </div>
                <!--ADD REVIEW-->
                <div class="row text-center">
                  <button id="addBtn" style='background-color:#cb2e01' type="submit" class="btn">
                    <i style="font-size:3.5em; color:#ffd171" class='glyphicon glyphicon-plus'></i>
                  </button>
                </div>
              </form>
            </div>
          </section>

        </div>
      </div>        

    </div><!--container end-->

    <!--ADD RECIPE COLLAPSE BUTTON-->
    <button style='background-color:#9b350d; border-color:#9b350d' href="#addRecipe" class="btn btn-info" data-toggle="collapse">
      <i style="font-size:3.5em; color:#ffd171" class='glyphicon glyphicon-plus'></i>
    </button>
    <div id="addRecipe" class="collapse">

      <!--FORM for PHOTO, TITLE, and DESCRIPTION-->
      <ng-form class="row">
        <div style="background-color:#9b350d; border-color: #9b350d" class="well">
        <!--TITLE and DESCRIPTION-->
        <div class="text-center">
          <h1 style="letter-spacing: 6px; color:#ffd171"><strong>{{name | uppercase}}</strong></h1>
          <h4 style="color:#ffd171">{{description}}</h4>
          <img class="img-responsive img-rounded" ng-src="'thePhoto'">
        </div>
        <div>
          <input ng-model='name' type="text" placeholder='Title' name="">
          <input ng-model='description' type="text" placeholder='description' name="">
          <input ng-model='thePhoto' type="text" placeholder="pictureUrl" name="">
        </div>

          <!--TABS-->
          <section class="tab" ng-controller="TabController as tab">
            <ul style='display:inline-block; background-color: #cb2e01; color: #ffd171' class="nav nav-pills">
              <li ng-class="{ active: tab.isSet(1) }">
                <a href ng-click="tab.setTab(1)">Ingredients</a></li>
              <li ng-class="{ active: tab.isSet(2) }">
                <a href ng-click="tab.setTab(2)">Directions</a></li>
            </ul>

            <!--INGREDIENT TAB-->
            <div ng-show="tab.isSet(1)">

              <!--INGREDIENT-->
              <div ng-repeat="ingredient in recipe.newRecipe.ingredients" ng-controller='IngredientController as ingredientCtrl'>
              <div style ='background-color:#ffd171; border-color: #ffd171; color:#9b350d' class="well row text-center">
                <div class="col-xs-2 col-xs-offset-1">
                  <h3>{{ingredient.quantity}}</h3>
                </div>
                <div class="col-xs-2">
                  <h3>{{ingredient.unit}}</h3>
                </div>
                <div class="col-xs-6">
                  <h3>{{ingredient.item}}</h3>
                </div>
                <div class="col-xs-1">
                  <button type="button" ng-click="ingredientCtrl.removeIngredient(recipe.newRecipe.ingredients, $index)" style='background-color:#cb2e01' class="btn btn-circle">
                    <i style="font-size:2.5em; color:#ffd171" class='glyphicon glyphicon-remove'></i>
                  </button>
                </div>
              </div>
              </div><!--ng-repeat end-->

              <!--INGREDIENT FORM-->
              <form ng-submit='ingredientCtrl.addIngredient(recipe.newRecipe)' ng-controller='IngredientController as ingredientCtrl' name='recipeForm'>
                <!--  Live Preview -->
                <div style ='background-color:#cb2e01; border-color: #cb2e01; color:#ffd171' class="well row text-center">
                  <div class="col-xs-2 col-xs-offset-1">
                    <h3>{{ingredientCtrl.ingredient.quantity}}</h3>
                  </div>
                  <div class="col-xs-2">
                    <h3>{{ingredientCtrl.ingredient.unit}}</h3>
                  </div>
                  <div class="col-xs-5">
                    <h3>{{ingredientCtrl.ingredient.item}}</h3>
                  </div>
                </div>
                <!--FORM-->
                <div style ='background-color:#ffd171; border-color: #ffd171; color:#9b350d' class="well row text-center">
                  <div class="col-xs-2 col-xs-offset-1">
                    <input ng-model='ingredientCtrl.ingredient.quantity' type="number" placeholder="Quantity" required>
                  </div>
                  <div class="col-xs-2">
                    <select ng-model='ingredientCtrl.ingredient.unit' required>
                      <option>Tsp</option>
                      <option>Tbl</option>
                      <option>Cup</option>
                    </select>
                  </div>
                  <div class="col-xs-6">
                    <input ng-model='ingredientCtrl.ingredient.item'type="text" placeholder="Ingredient" required>
                  </div>
                </div>

                <!--ADD INGREDIENT-->
                <div class="row text-center">
                  <button style='background-color:#cb2e01' type="submit" class="btn">
                    <i style="font-size:3.5em; color:#ffd171" class='glyphicon glyphicon-plus'></i>
                  </button>
                </div>

              </form>

            </div>

            <!--DIRECTIONS TAB-->
            <div ng-show="tab.isSet(2)">

              <!--STEPS-->
              <div ng-repeat="step in recipe.newRecipe.steps">
                <div ng-controller='StepController as stepCtrl' style ='background-color:#ffd171; border-color: #ffd171; color:#9b350d' class="well row text-center">
                    <div class="col-xs-11">
                      <h3>{{step}}</h3>
                    </div>
                    <div class="col-xs-1">
                      <button type="button" ng-click="stepCtrl.removeStep(recipe.newRecipe.steps, $index)" style='background-color:#cb2e01' class="btn btn-circle">
                        <i style="font-size:2.5em; color:#ffd171" class='glyphicon glyphicon-remove'></i>
                      </button>
                    </div>
                </div>
              </div><!--ng-repeat end-->

              <!--STEP FORM-->
              <form ng-submit='stepCtrl.addStep(recipe.newRecipe)' ng-controller='StepController as stepCtrl' name='stepForm'>
                <!--  Live Preview -->
                <div style ='background-color:#cb2e01; border-color: #cb2e01; color:#ffd171' class="well row text-center">
                  <h3>{{stepCtrl.step}}</h3>
                </div>

                <div style ='background-color:#ffd171; border-color: #ffd171; color:#9b350d' class="well row text-center">
                  <textarea ng-model='stepCtrl.step'></textarea>
                </div>
                <!--ADD STEP-->
                <div class="row text-center">
                  <button style='background-color:#cb2e01' type="submit" class="btn">
                    <i style="font-size:3.5em; color:#ffd171" class='glyphicon glyphicon-plus'></i>
                  </button>
                </div>
              </form>

            </div>

          </section>
          </div>
          <!--SUBMIT RECIPE-->
          <button ng-click="recipe.addRecipe(recipe.newRecipe, name, description, thePhoto)" style='background-color:#cb2e01; font-size: 20px; color: #ffd171' class="btn pull-right">
            Submit Recipe
          </button>
      </ng-form>
    </div><!--collaspe end-->

    </div><!--controller end-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>