          <!--INGREDIENT FORM-->
          <form ng-submit='ingredientCtrl.addIngredient(product)' ng-controller='IngredientController as ingredientCtrl' name='recipeForm'>
            <!--  Live Preview -->
            <div style ='background-color:#cb2e01; border-color: #cb2e01; color:#ffd171' class="well row text-center">
              <div class="col-xs-2 col-xs-offset-1">
                <h3>{{ingredientCtrl.ingredient.quantity}}</h3>
              </div>
              <div class="col-xs-2">
                <h3>{{ingredientCtrl.ingredient.unit}}</h3>
              </div>
              <div class="col-xs-6">
                <h3>{{ingredientCtrl.ingredient.item}}</h3>
              </div>
            </div>
            <!--FORM-->
            <div style ='background-color:#ffd171; border-color: #ffd171; color:#9b350d' class="well row text-center">
              <div class="col-xs-2 col-xs-offset-1">
                <input ng-model='ingredientCtrl.ingredient.quantity' type="number" placeholder="Quantity" required>
              </div>
              <div class="col-xs-2">
                <select ng-model='ingredientCtrl.ingredient.unit' required>
                  <option>Tsp</option>
                  <option>Tbl</option>
                  <option>Cup</option>
                </select>
              </div>
              <div class="col-xs-6">
                <input ng-model='ingredientCtrl.ingredient.item'type="text" placeholder="Ingredient" required>
              </div>
            </div>

            <!--ADD INGREDIENT-->
            <div class="row text-center">
              <button style='background-color:#cb2e01' type="submit" class="btn">
                <i style="font-size:3.5em; color:#ffd171" class='glyphicon glyphicon-plus'></i>
              </button>
            </div>

          </form>